@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import "@nuxt/ui-pro";

.prose {
  max-width: 100%;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}